@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

html {
    font-size:62.5%;
} 

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #32a719;
    font-size: 1.6rem;
}

.black-green-center {
    text-align: center;
    background-color:#000000;
}

/* heading */

h1, h2 {
    font-family: Oswald, sans-serif;
    color: #32a719;
}

header {
    padding: 0 20px;
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

h1 i {
    color:#000000;
}

/* menu navigation */

#menu {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
}

#menu a {
    color: inherit;
}

#menu li {
    line-height: 50px;
    margin-left: 30px;
}

#menu a:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.active {
    color: #000000;
    border-bottom: 2px solid #000000;
}
/* hero image section */

#container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#hero-image {
    display: block;
    height: 400px;
    width: 100%;
    background: url('../images/hero_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


/* frosted glass effect on hero image */

#card {
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba (0, 0, 0, 0.25);
    border: 1px solid gba(255, 255, 255, 0.3);
    width: 150px;
    height: 75px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    left: 30px;
}

#card a {
    font-family: Oswald, sans-serif;
    color: #32a719;
    text-decoration: none;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#card a:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}

/* about us */

.flex-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 100px;
    
}

.about h2 {
    text-transform: uppercase;
    color: #32a719;
    text-align: center;
    padding-bottom: 20px;

}

.about {
    font-family: Lato, sans-serif;
    color:grey;
    width: 400px;
    border: 30px;
    padding: 10px;
    margin: 20px;
}

/* image section */

.image-container { 
    display: flex;
    background: url('../images/menu_image.jpg');
    justify-content: center;
    /* padding: 50px 100px 100px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.image-card {
    /* border-radius: 20px; */
    /* backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba (0, 0, 0, 0.25);
    border: 1px solid gba(255, 255, 255, 0.3);  */
    width: 400px;
    border: 30px;
    /* padding: 10px;
    margin: 20px; */
    text-transform: uppercase;
    font-size: 15rem;
    color: black;
    text-shadow: 10px 10px #fff;
    text-align: center;
    
}

#vegan-image {
    border-radius: 20px;
    height: auto;
    max-width: 100%;

}

/* selection section */

.selection-container {
    display: flex;
    background-color: #000000;
    height: auto;
    justify-content: space-around;
    padding: 50px 100px 100px;
}

.selection-div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-left: 4px dotted #32a719;
}

.selection-div > ul {
    list-style: none;
}

.selection-div > ul > li {
    font-family: Lato, sans-serif;
    color:grey;
    padding: 10px;
    margin: 20px;
}

.selection-div > h3 {
    text-transform: uppercase;
    color: #32a719;
    text-align: center;
    padding-bottom: 20px;
}

/* image-section-second */

.image-container-second {
        display: flex;
        background: url('../images/order_image_background.jpg');
        justify-content: space-around;
        padding: 50px 100px 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 20rem;
}

/* order and delivery */

.order-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 100px;
    
}

.order h2 {
    text-transform: uppercase;
    color: #32a719;
    text-align: center;
    padding-bottom: 20px;

}

.order {
    font-family: Lato, sans-serif;
    color:grey;
    width: 400px;
    border: 30px;
    padding: 10px;
    margin: 20px;
}

/* contact and opening hours */

#contact {
    display: flex;
    padding: ;
    justify-content: space-between;
}

#contact-div {
    font-family: Lato, sans-serif;
    color:#000000;
    font-size: 2rem;
    text-align: center;
    margin-left: 10rem;
    margin-top: 5rem;

}

#map-location {
    height: 30rem;
    width: 66%;
}

#map {
    width: 100%;
    height: 100%;
    border: none;
}

/* social-links */

.social-links{
    text-align: center;
    background-color: #000000;

}

.social-links li{
    display: inline;
}

.social-links i{
    color: #32a719;
    font-size: 4rem;
    padding: 4rem;
}