@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

html {
    font-size:62.5%
} 

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #32a719;
    font-size: 1.6rem;
}

/* heading */

h1, h2 {
    font-family: Oswald, sans-serif;
    color: #32a719;
}

header {
    padding: 0 20px;
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

h1 i {
    color:#000000;
}

/* menu navigation */

#menu {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
}

#menu a {
    color: inherit;
}

#menu li {
    line-height: 50px;
    margin-left: 30px;
}

#menu a:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.active {
    color: #000000;
    border-bottom: 2px solid #000000;
}
/* hero image section */

#container {
    position: relative;
}

#hero-image {
    display: block;
    height: 700px;
    width: 100%;
    background: url('../images/hero_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* frosted glass effect on hero image */

#card {
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba (0, 0, 0, 0.25);
    border: 1px solid gba(255, 255, 255, 0.3);
    width: 300px;
    height: 200px;
    position: absolute;
    top: 9px;
    left: 16px;
    
    
}